<h1>Landing Page</h1>

<div class="aform">
  <h3>Sign Up</h3>
  <form id="sign-up-submit" name="signup">
    <input id="firstName" type="text" name="firstName" placeholder="First Name" />
    <input id="lastName" type="text" name="lastName" placeholder="Last Name" />
    <input id="username" type="text" name="username" placeholder="Username" />
    <input id="password" type="text" name="password" placeholder="Password" />
    <input type="submit" value="Sign Up" />
  </form>
</div>

<div class="aform">
  <h3>Login</h3>
  <form id="login-submit" name="login">
    <input id="login-username" type="text" name="username" placeholder="Username" />
    <input id="login-password" type="text" name="password" placeholder="Password" />
    <input type="submit" value="Login" />
  </form>
</div>

<div class="aform">
  <form id="get-protected" name="protected">
    <input type="submit" value="Protected" />
  <form>
</div>
