.listitems,
.individual {
  border: 1px solid lightgray;
  display: inline-block;
  margin: 30px 10% 0 0;
  max-width: 600px;
  padding: 18px;
  vertical-align: top;
  width: 50%;
}

.listitems {
  min-height: 211px;
}

div {
  .listitem & {
    display: inline-block;
    margin: 8px 0;
    &.h {
      font-size: 0.875rem;
      font-weight: 700;
      margin-bottom: 12px;
      text-transform: uppercase;
    }
  }
}

.buttonwrap {
  margin: 26px 0 8px;
  text-align: center;
}

.name {
  width: 30%;
}

.active {
  width: 16%;
}

.age {
  width: 12%;
}

.individual {
  border: none;
  margin-right: 0;
  width: 28%;
  @include transition($animate * 2)
  &.active {
    border: 1px solid lightgray;
  }
}

.createone {
  margin-top: 30px;
}

.aform {
  display: inline-block;
  margin: 16px 64px 0 0;
  vertical-align: top;
}
